@inherits LayoutComponentBase
<div class="page">
    <main>
        <div class="top-row px-4">
            Advanced Visual Studio Snippet Generator
        </div>

        <div class="container-fluid px-4">
            @Body
        </div>
    </main>
</div>
