@inherits LayoutComponentBase
<div class="page">
    <main>
        <div class="top-row px-4">
            Advanced Visual Studio Snippet Generator
        </div>

        <div class="container-fluid px-4">
            @Body
        </div>

        <div class="bottom-row">
            <a href="https://github.com/ekalaivan92/EkaToolFusion" target="_blank">Source Repository</a>
            <a href="https://ekalaivan.net" target="_blank">Ekalaivan Chidambaram</a>
        </div>
    </main>
</div>
