@inherits LayoutComponentBase
<div class="page">
    <main>
        <div class="top-row px-4">
            <b class="pe-2">Eka Tools</b> - Advanced Visual Studio Snippet Generator
        </div>

        <div class="container-fluid px-4" style="background-color: aliceblue; min-height: calc(100vh - 110px); margin-bottom: 53px;">
            @Body
        </div>

        <div class="bottom-row">
            <NavMenu />
        </div>
    </main>
</div>
