<div class="d-flex w-75">
    <NavLink class="nav-link px-1 mx-0 fs-6 border-start border-end bg-success text-info-emphasis text-white" style="--bs-bg-opacity: .9;" href="/snippet-generator" Match="NavLinkMatch.All">
        <i class="bi bi-code-slash fs-4 fw-bolder mx-3" aria-hidden="true" title="Advanced Visual Studio Snippet Generator" />
    </NavLink>
</div>

<div class="clearfix w-25">
    <NavLink class="nav-link px-1 fs-6 float-end" href="https://ekalaivan.net" Match="NavLinkMatch.All">
        <i class="bi bi-globe mx-0" aria-hidden="true" /> Author
    </NavLink>

    <NavLink class="nav-link px-1 fs-6 float-end" href="https://github.com/ekalaivan92/EkaToolFusion"
        Match="NavLinkMatch.All">
        <i class="bi bi-github mx-0" aria-hidden="true" /> Source
    </NavLink>
</div>