@page "/"

<PageTitle>Eka - Collection of Tools</PageTitle>

<div class="row">
    <div class="col-md-2 border rounded p-2">
        <a class="btn btn-success" href="/snippet-generator">Visual Studio Snippet Generator</a>
    </div>
</div>